---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import writte from '../images/home-office.svg';
import { Posts } from '../components/posts/posts';
---

<Layout title="Yuri's Portfolio">
  <main class='px-10 sm:px-20 md:px-24 xl:px-44 2xl:px-64'>
    <Header />
    <section
      class='py-60 flex flex-col lg:flex-row gap-6 lg:gap-0 justify-between items-center'
    >
      <div class='flex flex-col gap-5'>
        <h2 class='text-6xl text-center lg:text-left'>
          All the things i've written
        </h2>
        <p class='text-3xl text-center lg:text-left'>In just one place</p>
      </div>
      <img src={writte} width={384} alt='written in computer' />
    </section>
    <Posts client:load />
    <Footer />
  </main>
</Layout>
