---
import Layout from '../layouts/Layout.astro';
import ShowCase from '../components/ShowCase.astro';
import Skills from '../components/Skills.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
import Introduction from '../components/Introduction.astro';
import Header from '../components/Header.astro';
---

<Layout title="Yuri's Portfolio">
  <main class='px-10 sm:px-20 md:px-24 xl:px-44 2xl:px-64'>
    <Header />
    <Introduction />
    <ShowCase />
    <Skills />
    <About />
    <Footer />
  </main>
</Layout>
