<div class='pb-10 text-center'>
  <p class='text-xl'>
    Built by <a
      class='underline'
      href='https://twitter.com/Yuri_Sampa'
      target='_blank'
    >
      Palast
    </a>
    , Illustrations by
    <a class='underline' href='https://popsy.co' target='_blank'> Popsy</a>,
    Font by
    <a class='underline' href='https://www.fontshare.com' target='_blank'
      >Fontshare</a
    >.
  </p>
</div>
