<header class='flex items-center justify-between py-6'>
  <h1 class='text-2xl'>Palast.dev</h1>
  <nav>
    <ul class='flex gap-9'>
      <li>
        <a
          href='/'
          class='hover:border-black border-b-[1px] border-transparent py-1 cursor-pointer text-lg'
        >
          Home
        </a>
      </li>
      <li>
        <a
          href='/blog'
          class='hover:border-black border-b-[1px] border-transparent py-1 cursor-pointer text-lg'
        >
          Blog
        </a>
      </li>
    </ul>
  </nav>
</header>
