<section class='pb-36'>
  <h2 class='text-center text-3xl'>What I know</h2>
  <div class='pt-10 flex flex-col lg:flex-row justify-center gap-32'>
    <p class='lg:w-[450px] text-2xl text-center lg:text-left'>
      I am a software developer with a focus on Front-end. I have been
      programming for a little over 1 year. I chose this career because since I
      was young, I have always been curious about learning how things worked
      behind the user interface. Therefore, I always strive to specialize by
      combining all the references and technologies I learn along the way to
      deliver a pleasant and unique experience to people who use my creations.
    </p>
    <div>
      <ul
        class='grid grid-cols-2 sm:grid-cols-3 justify-items-center gap-x-12 gap-y-10 font-sans font-bold'
      >
        <li>
          <a
            href='https://nodejs.org/en'
            target='_blank'
            title='Go to Node docs'
            class='border bg-white border-black w-32 h-14 text-xl rounded-2xl flex justify-center items-center relative after:rounded-2xl after:content:none after:top-2 after:left-2 after:right-[-8px] after:bottom-[-8px] after:-z-10 after:absolute after:bg-black hover:bg-green-600 cursor-pointer'
          >
            Node
          </a>
        </li>
        <li>
          <a
            href='https://www.docker.com'
            target='_blank'
            title='Go to Docker docs'
            class='border bg-white border-black w-32 h-14 text-xl rounded-2xl flex justify-center items-center relative after:rounded-2xl after:content:none after:top-2 after:left-2 after:right-[-8px] after:bottom-[-8px] after:-z-10 after:absolute after:bg-black hover:bg-sky-400 cursor-pointer'
          >
            Docker
          </a>
        </li>
        <li>
          <a
            href='https://tailwindcss.com'
            target='_blank'
            title='Go to Tailwind docs'
            class='border bg-white border-black w-32 h-14 text-xl rounded-2xl flex justify-center items-center relative after:rounded-2xl after:content:none after:top-2 after:left-2 after:right-[-8px] after:bottom-[-8px] after:-z-10 after:absolute after:bg-black hover:bg-sky-300 cursor-pointer'
          >
            Tailwind
          </a>
        </li>
        <li>
          <a
            href='https://www.typescriptlang.org'
            target='_blank'
            title='Go to Typescript docs'
            class='border bg-white border-black w-32 h-14 text-xl rounded-2xl flex justify-center items-center relative after:rounded-2xl after:content:none after:top-2 after:left-2 after:right-[-8px] after:bottom-[-8px] after:-z-10 after:absolute after:bg-black hover:bg-blue-500 cursor-pointer'
          >
            Typescript
          </a>
        </li>
        <li>
          <a
            href='https://go.dev/doc/'
            target='_blank'
            title='Go to Golang docs'
            class='border bg-white border-black w-32 h-14 text-xl rounded-2xl flex justify-center items-center relative after:rounded-2xl after:content:none after:top-2 after:left-2 after:right-[-8px] after:bottom-[-8px] after:-z-10 after:absolute after:bg-black hover:bg-blue-400 cursor-pointer'
          >
            Go
          </a>
        </li>
        <li>
          <a
            href=' https://developer.mozilla.org/en-US/docs/Web/JavaScript'
            target='_blank'
            title='Go to Javascript docs'
            class='border bg-white border-black w-32 h-14 text-xl rounded-2xl flex justify-center items-center relative after:rounded-2xl after:content:none after:top-2 after:left-2 after:right-[-8px] after:bottom-[-8px] after:-z-10 after:absolute after:bg-black hover:bg-yellow-300 cursor-pointer'
          >
            Javascript
          </a>
        </li>
        <li>
          <a
            href='https://react.dev'
            target='_blank'
            title='Go to React docs'
            class='border bg-white border-black w-32 h-14 text-xl rounded-2xl flex justify-center items-center relative after:rounded-2xl after:content:none after:top-2 after:left-2 after:right-[-8px] after:bottom-[-8px] after:-z-10 after:absolute after:bg-black hover:bg-sky-300 cursor-pointer'
          >
            React
          </a>
        </li>
        <li>
          <a
            href='https://docs.astro.build/en/getting-started/'
            target='_blank'
            title='Go to Astro docs'
            class='border bg-white border-black w-32 h-14 text-xl rounded-2xl flex justify-center items-center relative after:rounded-2xl after:content:none after:top-2 after:left-2 after:right-[-8px] after:bottom-[-8px] after:-z-10 after:absolute after:bg-black hover:bg-orange-400 cursor-pointer'
          >
            Astro
          </a>
        </li>
        <li>
          <a
            href='https://www.solidjs.com'
            target='_blank'
            title='Go to Solid docs'
            class='border bg-white border-black w-32 h-14 text-xl rounded-2xl flex justify-center items-center relative after:rounded-2xl after:content:none after:top-2 after:left-2 after:right-[-8px] after:bottom-[-8px] after:-z-10 after:absolute after:bg-black hover:bg-sky-200 cursor-pointer'
          >
            Solid
          </a>
        </li>
        <li>
          <a
            href='https://nextjs.org/docs'
            target='_blank'
            title='Go to Next docs'
            class='border bg-white border-black w-32 h-14 text-xl rounded-2xl flex justify-center items-center relative after:rounded-2xl after:content:none after:top-2 after:left-2 after:right-[-8px] after:bottom-[-8px] after:-z-10 after:absolute after:bg-black hover:bg-black hover:text-white cursor-pointer'
          >
            Next
          </a>
        </li>
        <li>
          <a
            href='https://www.mongodb.com'
            target='_blank'
            title='Go to MongoDB docs'
            class='border bg-white border-black w-32 h-14 text-xl rounded-2xl flex justify-center items-center relative after:rounded-2xl after:content:none after:top-2 after:left-2 after:right-[-8px] after:bottom-[-8px] after:-z-10 after:absolute after:bg-black hover:bg-emerald-400 cursor-pointer'
          >
            MongoDB
          </a>
        </li>
        <li>
          <a
            href='https://firebase.google.com'
            target='_blank'
            title='Go to Firebase docs'
            class='border bg-white border-black w-32 h-14 text-xl rounded-2xl flex justify-center items-center relative after:rounded-2xl after:content:none after:top-2 after:left-2 after:right-[-8px] after:bottom-[-8px] after:-z-10 after:absolute after:bg-black hover:bg-amber-400 cursor-pointer'
          >
            Firebase
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
